    body {
        margin: 0;
        font-family: Arial;
    }

    /* BARRA VERDE FIJA */
    .topbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        background: #007832;
        color: white;
        display: flex;
        align-items: center;
        padding: 0 20px;
        z-index: 1000;
    }

    /* Layout debajo del header */
    .layout {
        display: flex;
        margin-top: 60px;
    }


    /* MENU */
    .sidebar {

        width: 250px;
        background: #eee;
        height: calc(100vh - 60px);

    }

    .sidebar.toggle-transition {
        transition: width 0.3s;
    }

    /* oculto */
    .sidebar.closed {
        width: 0;
        overflow: hidden;
    }

    /* CONTENIDO */
    .content {
        flex: 1;
        padding: 20px;
    }

    .topbar .menu button {
        width: 1.5rem;
        height: 1.5rem;
        background: none;
        color: white;
        border: none;
        font-size: 15px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .topbar .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .sidebar.closed {
        width: 50px;
        /* mini sidebar */
    }

    .sidebar.closed .sidebar-text {
        display: none;
        /* ocultamos el texto */
    }

    /* Botón de logout igual que links */
    .logout-btn {
        width: 100%;
        background: none;
        border: none;
        padding: 0.5rem 0.75rem;
        text-align: left;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .logout-btn:hover {
        background-color: #dcdcdc;
        border-radius: 5px;
    }

    /* Sidebar colapsado: solo icono */
    .sidebar.closed .sidebar-text {
        display: none;


    }